<a href="https://colab.research.google.com/github/shradhakoot1/code/blob/main/credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing dependencies:

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [30]:
# loading dataset to pandas dataframe
credit_data=pd.read_csv('/content/creditcard.csv')

In [31]:
# 1st 5 rowrs:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

time: Number of seconds elapsed between this transaction and the first transaction in the dataset

It contains only numerical input variables which are the result of a PCA transformation. 


[PCA:Principal Component Analysis is an unsupervised learning algorithm that is used for the dimensionality reduction in machine learning. It is a statistical process that converts the observations of correlated features into a set of linearly uncorrelated features with the help of orthogonal transformation.]

The feature 'Amount' is the transaction Amount.

Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

In [32]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
142681,84874,-1.175585,-0.435225,1.228103,0.052441,1.503111,-2.004394,-0.122498,-0.046657,-0.325656,...,-0.066904,-0.643857,0.314354,0.337604,-0.403670,-0.122969,-0.016914,0.101735,1.98,0.0
142682,84874,1.241407,-0.414978,-0.880402,-1.049339,1.638588,3.350938,-0.809687,0.865613,0.244406,...,-0.223144,-0.895358,0.084569,1.038418,0.155673,0.799608,-0.067291,0.014978,44.62,0.0
142683,84875,-1.329905,0.864110,0.177223,-0.902612,1.291457,4.002512,-1.207749,1.972494,-0.153283,...,0.038467,-0.217288,-0.119543,1.036008,0.056579,0.301629,-0.283690,-0.036675,11.50,0.0
142684,84876,-0.636351,1.257445,1.521837,-0.027459,0.006568,-1.158053,1.058088,-0.476554,0.360277,...,-0.417344,-0.675847,-0.031819,0.635950,-0.178399,0.006644,0.133808,-0.227752,7.96,0.0
142685,84876,0.961973,-0.860360,-0.430272,-1.837038,-0.580153,-0.900000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# info:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142686 entries, 0 to 142685
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    142686 non-null  int64
 1   V1      142686 non-null  float64
 2   V2      142686 non-null  float64
 3   V3      142686 non-null  float64
 4   V4      142686 non-null  float64
 5   V5      142686 non-null  float64
 6   V6      142686 non-null  float64
 7   V7      142685 non-null  float64
 8   V8      142685 non-null  float64
 9   V9      142685 non-null  float64
 10  V10     142685 non-null  float64
 11  V11     142685 non-null  float64
 12  V12     142685 non-null  float64
 13  V13     142685 non-null  float64
 14  V14     142685 non-null  float64
 15  V15     142685 non-null  float64
 16  V16     142685 non-null  float64
 17  V17     142685 non-null  float64
 18  V18     142685 non-null  float64
 19  V19     142685 non-null  float64
 20  V20     142685 non-null  float64
 21  V21     142685 non-null  float64
 22  V22     142685 non-null  float64
 23  V23     142685 non-null  float64
 24  V24     142685 non-null  float64
 25  V25     142685 non-null  float64
 26  V26     142685 non-null  float64
 27  V27     142685 non-null  float64
 28  V28     142685 non-null  float64
 29  Amount  142685 non-null  float64
 30  Class   142685 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 33.7 MB

In [34]:
# checking the missing values:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [35]:
credit_data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [37]:
credit_data.drop([142685],axis=0,inplace=True)

In [38]:
credit_data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [41]:
credit_data.shape

(142685, 31)

In [40]:
# distribution og legit and fraud transaction:
credit_data['Class'].value_counts()

0.0    142414
1.0       271
Name: Class, dtype: int64

0 --> legit transaction 

1--> fraud transaction

This represents highly unbalanced dataset

In [42]:
legit= credit_data[credit_data.Class==0]
fraud=credit_data[credit_data.Class==1]

In [43]:
legit.shape

(142414, 31)

In [44]:
fraud.shape

(271, 31)

In [48]:
legit.Amount.describe()

count    142414.000000
mean         90.605582
std         246.362078
min           0.000000
25%           5.990000
50%          23.545000
75%          80.000000
max       19656.530000
Name: Amount, dtype: float64

In [49]:
fraud.Amount.describe()

count     271.000000
mean      117.543579
std       245.192472
min         0.000000
25%         1.000000
50%         9.990000
75%       100.745000
max      1809.680000
Name: Amount, dtype: float64

In [51]:
# compare the values for both transactions:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,52483.978661,-0.239861,0.014111,0.688369,0.128882,-0.275950,0.081053,-0.107123,0.062368,-0.084300,...,0.041924,-0.042274,-0.117665,-0.033033,0.011573,0.130669,0.021440,-0.000325,0.002035,90.605582
1.0,43502.468635,-5.511878,3.894277,-7.088329,4.502723,-3.930204,-1.484990,-5.898183,1.503003,-2.625883,...,0.265625,1.251063,-0.314579,-0.117331,-0.113649,0.210638,0.071343,0.505482,0.092758,117.543579

Under sampling

Build a sample dataset containing similar distribution of normal and frudulent transaction:

In [53]:
# number of fraud transactions = 271

In [54]:
legit_sample=legit.sample(n=271)

Concatenating two dataframes

In [55]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [57]:
new_dataset.shape

(542, 31)

In [58]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
99795,67286,1.319578,0.255245,0.169967,0.420546,-0.038515,-0.504456,0.069625,-0.173367,0.045391,...,-0.308206,-0.867867,0.028363,-0.450006,0.342050,0.145303,-0.027690,0.011330,1.79,0.0
14361,25469,1.001891,-1.167692,-0.262956,-0.539185,-0.748392,-0.037307,-0.235322,0.013645,-0.931220,...,-0.294675,-0.682962,-0.173181,-0.262882,0.281126,1.108193,-0.095422,0.009980,182.98,0.0
66797,52225,0.788889,-0.849134,1.155326,1.792648,-1.195768,0.529847,-0.591386,0.208139,1.459767,...,0.131974,0.415493,-0.374278,0.095750,0.663593,-0.119909,0.054970,0.060689,191.62,0.0
92710,64059,1.338008,-1.511945,1.579959,-1.057439,-2.389005,-0.065665,-1.798844,0.060642,-0.918025,...,0.049407,0.707197,-0.091053,0.447138,0.310245,0.004487,0.100363,0.048055,60.62,0.0
83267,59764,-0.912009,1.355724,0.866386,-0.154765,0.143540,-0.531384,0.452589,0.268996,-0.565891,...,-0.267765,-0.594009,-0.088021,-0.027636,-0.082369,0.050468,0.086455,-0.170676,8.99,0.0

In [59]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
141258,84204,-0.937843,3.462889,-6.445104,4.932199,-2.233983,-2.291561,-5.695594,1.338825,-4.322377,...,1.066550,-0.521657,-0.319917,-0.405859,0.906802,1.165784,1.374495,0.729889,0.00,1.0
141259,84204,-1.927453,1.827621,-7.019495,5.348303,-2.739188,-2.107219,-5.015848,1.205868,-4.382713,...,1.376938,-0.792017,-0.771414,-0.379574,0.718717,1.111151,1.277707,0.819081,512.25,1.0
141260,84204,-1.927453,1.827621,-7.019495,5.348303,-2.739188,-2.107219,-5.015848,1.205868,-4.382713,...,1.376938,-0.792017,-0.771414,-0.379574,0.718717,1.111151,1.277707,0.819081,512.25,1.0
142405,84694,-4.868108,1.264420,-5.167885,3.193648,-3.045621,-2.096166,-6.445610,2.422536,-3.214055,...,1.269205,0.057657,0.629307,-0.168432,0.443744,0.276539,1.441274,-0.127944,12.31,1.0
142557,84789,-1.430864,-0.802529,1.123320,0.389760,-0.281214,-0.055123,1.326232,0.195700,-0.546890,...,0.325575,0.014002,0.844946,0.114963,0.156365,-0.619437,-0.120351,0.035594,354.33,1.0

In [61]:
new_dataset['Class'].value_counts()

0.0    271
1.0    271
Name: Class, dtype: int64

In [62]:
# now we get unfiformly distributed data

In [63]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,51235.645756,-0.246161,-0.107687,0.660360,-0.008880,-0.305419,0.003113,-0.215252,0.015985,-0.100574,...,0.027980,0.103775,-0.154716,-0.034644,0.043094,0.139239,0.031596,-0.000425,0.009702,97.323395
1.0,43502.468635,-5.511878,3.894277,-7.088329,4.502723,-3.930204,-1.484990,-5.898183,1.503003,-2.625883,...,0.265625,1.251063,-0.314579,-0.117331,-0.113649,0.210638,0.071343,0.505482,0.092758,117.543579

In [64]:
# we see the same mean as unbalanced data distribution

Splitting the data into features and target

In [65]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [66]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
99795,67286,1.319578,0.255245,0.169967,0.420546,-0.038515,-0.504456,0.069625,-0.173367,0.045391,...,-0.041964,-0.308206,-0.867867,0.028363,-0.450006,0.342050,0.145303,-0.027690,0.011330,1.79
14361,25469,1.001891,-1.167692,-0.262956,-0.539185,-0.748392,-0.037307,-0.235322,0.013645,-0.931220,...,-0.206299,-0.294675,-0.682962,-0.173181,-0.262882,0.281126,1.108193,-0.095422,0.009980,182.98
66797,52225,0.788889,-0.849134,1.155326,1.792648,-1.195768,0.529847,-0.591386,0.208139,1.459767,...,0.204636,0.131974,0.415493,-0.374278,0.095750,0.663593,-0.119909,0.054970,0.060689,191.62
92710,64059,1.338008,-1.511945,1.579959,-1.057439,-2.389005,-0.065665,-1.798844,0.060642,-0.918025,...,-0.156633,0.049407,0.707197,-0.091053,0.447138,0.310245,0.004487,0.100363,0.048055,60.62
83267,59764,-0.912009,1.355724,0.866386,-0.154765,0.143540,-0.531384,0.452589,0.268996,-0.565891,...,0.265705,-0.267765,-0.594009,-0.088021,-0.027636,-0.082369,0.050468,0.086455,-0.170676,8.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141258,84204,-0.937843,3.462889,-6.445104,4.932199,-2.233983,-2.291561,-5.695594,1.338825,-4.322377,...,1.129532,1.066550,-0.521657,-0.319917,-0.405859,0.906802,1.165784,1.374495,0.729889,0.00
141259,84204,-1.927453,1.827621,-7.019495,5.348303,-2.739188,-2.107219,-5.015848,1.205868,-4.382713,...,2.172709,1.376938,-0.792017,-0.771414,-0.379574,0.718717,1.111151,1.277707,0.819081,512.25
141260,84204,-1.927453,1.827621,-7.019495,5.348303,-2.739188,-2.107219,-5.015848,1.205868,-4.382713,...,2.172709,1.376938,-0.792017,-0.771414,-0.379574,0.718717,1.111151,1.277707,0.819081,512.25
142405,84694,-4.868108,1.264420,-5.167885,3.193648,-3.045621,-2.096166,-6.445610,2.422536,-3.214055,...,0.667310,1.269205,0.057657,0.629307,-0.168432,0.443744,0.276539,1.441274,-0.127944,12.31
142557,84789,-1.430864,-0.802529,1.123320,0.389760,-0.281214,-0.055123,1.326232,0.195700,-0.546890,...,0.634184,0.325575,0.014002,0.844946,0.114963,0.156365,-0.619437,-0.120351,0.035594,354.33

In [67]:
y

99795     0.0
14361     0.0
66797     0.0
92710     0.0
83267     0.0
         ...
141258    1.0
141259    1.0
141260    1.0
142405    1.0
142557    1.0
Name: Class, Length: 542, dtype: float64

Splitting the data into train and test

In [70]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [71]:
x.shape

(542, 30)

In [79]:
print('xtrain.shape:',xtrain.shape)
print('xtest.shape:',xtest.shape)
print('ytrain.shape:',ytrain.shape)
print('ytest.shape:',ytest.shape)

xtrain.shape: (433, 30)
xtest.shape: (109, 30)
ytrain.shape: (433,)
ytest.shape: (109,)

Model training

Logistic Regression:

In [80]:
model=LogisticRegression()

In [81]:
# training the logistic regression model with training data

In [82]:
model.fit(xtrain,ytrain)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Acurracy score:

In [83]:
# accuracy on training data:
xtrain_prediction=model.predict(xtrain)

In [84]:
xtrain_prediction

array([0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0.,
       1., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0.,
       1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1.,
       0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1.,
       1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1.,
       1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0.,
       1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 1.,
       0., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0.,
       1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0.,
       1., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0.,
       1., 0., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0.,
       1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1.,
       0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1.])

In [87]:
train_data_acc=accuracy_score(xtrain_prediction,ytrain)
print('train_data_acc:',train_data_acc)

train_data_acc: 0.9607390300230947

In [88]:
# test data accuracy:
xtest_prediction=model.predict(xtest)

In [89]:
test_data_acc=accuracy_score(xtest_prediction,ytest)
print('train_data_acc:',test_data_acc)

train_data_acc: 0.926605504587156